<h5> Employees List</h5>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Document</th>
            <th>Name</th>
            <th>Job</th>
            <th>Start Date</th>
            <th>Salary</th>
            <th>Actions</th>
        </tr>
    </thead>
    <!-- El bucle recorre cada usuario de users-->
    <!-- Este archivo html está asociado a su respectivo .ts -->
    <!-- users es una propiedad definida en el .ts users: User[]-->
    <tbody>
        <tr *ngFor = "let emp of employees">
            <!-- {{}} Es interpolación para acceder a los campos -->
            <td>{{emp.id}}</td>
            <td>{{emp.document}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.job}}</td>
            <td>{{emp.startDate}}</td>
            <td>{{emp.salary.value}}</td>
            <button (click) = "updateEmployee(emp.id)" class = "btn btn-info"> Edit</button>
            <button (click) = "deleteEmployee(emp.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
            <button (click) = "deleteEmployee(emp.id)" class = "btn btn-danger" style="margin-left: 10px"> End Contract</button>

        </tr>
    </tbody>
</table>
