<h5> History Salary List</h5>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>Employee</th>
            <th>Salary</th>
        </tr>
    </thead>
    <!-- El bucle recorre cada usuario de users-->
    <!-- Este archivo html está asociado a su respectivo .ts -->
    <!-- users es una propiedad definida en el .ts users: User[]-->
    <tbody>
        <tr *ngFor = "let emp of historySalary">
            <!-- {{}} Es interpolación para acceder a los campos -->
            <td>{{emp.id}}</td>
            <td>{{emp.employee.name}}</td>
            <td>{{emp.salary.value}}</td>
        </tr>
    </tbody>
</table>

